<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="grp_data" >
            <Component  Id="evilpixie.exe" Directory="INSTALLDIR" Guid="{65C0A2A2-A87E-4C81-B8AD-34CB9FADAD25}">
                <File Id="evilpixie.exe" KeyPath="yes" Source="SourceDir\evilpixie.exe" />
            </Component>
            <Component  Id="libbz2_1.dll" Directory="INSTALLDIR" Guid="{36BCE142-084F-4915-A736-CA9D4DDD9D2E}">
                <File Id="libbz2_1.dll" KeyPath="yes" Source="SourceDir\libbz2-1.dll" />
            </Component>
            <Component  Id="libfreetype_6.dll" Directory="INSTALLDIR" Guid="{A1A90C51-38B6-42D3-9294-1F4A87B73CBA}">
                <File Id="libfreetype_6.dll" KeyPath="yes" Source="SourceDir\libfreetype-6.dll" />
            </Component>
            <Component  Id="libgcc_s_seh_1.dll" Directory="INSTALLDIR" Guid="{396A2C20-2873-4558-8810-94417737EC82}">
                <File Id="libgcc_s_seh_1.dll" KeyPath="yes" Source="SourceDir\libgcc_s_seh-1.dll" />
            </Component>
            <Component  Id="libgif_7.dll" Directory="INSTALLDIR" Guid="{716AAB92-CFDE-484D-B8F5-65C674F7D2CC}">
                <File Id="libgif_7.dll" KeyPath="yes" Source="SourceDir\libgif-7.dll" />
            </Component>
            <Component  Id="libglib_2.0_0.dll" Directory="INSTALLDIR" Guid="{3008B9C8-94B7-495B-BBD7-92AA3828FDA7}">
                <File Id="libglib_2.0_0.dll" KeyPath="yes" Source="SourceDir\libglib-2.0-0.dll" />
            </Component>
            <Component  Id="libgraphite2.dll" Directory="INSTALLDIR" Guid="{5275CE69-860E-4CBD-8F76-995BC6994178}">
                <File Id="libgraphite2.dll" KeyPath="yes" Source="SourceDir\libgraphite2.dll" />
            </Component>
            <Component  Id="libharfbuzz_0.dll" Directory="INSTALLDIR" Guid="{041523A4-E505-4B0A-8007-25C4EFD9C35A}">
                <File Id="libharfbuzz_0.dll" KeyPath="yes" Source="SourceDir\libharfbuzz-0.dll" />
            </Component>
            <Component  Id="libiconv_2.dll" Directory="INSTALLDIR" Guid="{E49B2DA6-0EDD-4F88-B44D-D2ED32D788A9}">
                <File Id="libiconv_2.dll" KeyPath="yes" Source="SourceDir\libiconv-2.dll" />
            </Component>
            <Component  Id="libicudt57.dll" Directory="INSTALLDIR" Guid="{E0969E38-D684-4C7E-BABC-D8D54571E47D}">
                <File Id="libicudt57.dll" KeyPath="yes" Source="SourceDir\libicudt57.dll" />
            </Component>
            <Component  Id="libicuin57.dll" Directory="INSTALLDIR" Guid="{7285B1C3-4315-47EA-95DC-A8002ED3A200}">
                <File Id="libicuin57.dll" KeyPath="yes" Source="SourceDir\libicuin57.dll" />
            </Component>
            <Component  Id="libicuuc57.dll" Directory="INSTALLDIR" Guid="{5B2AA88C-1A31-4EA1-AD33-9A18FEDE12C0}">
                <File Id="libicuuc57.dll" KeyPath="yes" Source="SourceDir\libicuuc57.dll" />
            </Component>
            <Component  Id="libintl_8.dll" Directory="INSTALLDIR" Guid="{B8136F36-9C9E-4F37-8F19-796D0AE851AA}">
                <File Id="libintl_8.dll" KeyPath="yes" Source="SourceDir\libintl-8.dll" />
            </Component>
            <Component  Id="libpcre_1.dll" Directory="INSTALLDIR" Guid="{81766A02-D65A-4AB3-918E-A47BA583FDAF}">
                <File Id="libpcre_1.dll" KeyPath="yes" Source="SourceDir\libpcre-1.dll" />
            </Component>
            <Component  Id="libpcre16_0.dll" Directory="INSTALLDIR" Guid="{B41CBD10-DB6C-4CEF-92E8-99B9B400C259}">
                <File Id="libpcre16_0.dll" KeyPath="yes" Source="SourceDir\libpcre16-0.dll" />
            </Component>
            <Component  Id="libpng16_16.dll" Directory="INSTALLDIR" Guid="{653FD6AF-FEF7-468B-AF47-6F41E0B2480B}">
                <File Id="libpng16_16.dll" KeyPath="yes" Source="SourceDir\libpng16-16.dll" />
            </Component>
            <Component  Id="libstdc___6.dll" Directory="INSTALLDIR" Guid="{C9552996-F0E5-4B8C-9FFF-3812B3547442}">
                <File Id="libstdc___6.dll" KeyPath="yes" Source="SourceDir\libstdc++-6.dll" />
            </Component>
            <Component  Id="libwinpthread_1.dll" Directory="INSTALLDIR" Guid="{1BC7FABE-A79E-4844-A593-89C64AC6D4DC}">
                <File Id="libwinpthread_1.dll" KeyPath="yes" Source="SourceDir\libwinpthread-1.dll" />
            </Component>
            <Component  Id="Qt5Core.dll" Directory="INSTALLDIR" Guid="{55E82107-7004-47DE-8CD9-E517DEB368A7}">
                <File Id="Qt5Core.dll" KeyPath="yes" Source="SourceDir\Qt5Core.dll" />
            </Component>
            <Component  Id="Qt5Gui.dll" Directory="INSTALLDIR" Guid="{5D9490B0-A9C6-47BB-82D4-DC245B91460A}">
                <File Id="Qt5Gui.dll" KeyPath="yes" Source="SourceDir\Qt5Gui.dll" />
            </Component>
            <Component  Id="Qt5Svg.dll" Directory="INSTALLDIR" Guid="{6E2BF3CA-9D90-4FCF-BD41-1129BDF01CEC}">
                <File Id="Qt5Svg.dll" KeyPath="yes" Source="SourceDir\Qt5Svg.dll" />
            </Component>
            <Component  Id="Qt5Widgets.dll" Directory="INSTALLDIR" Guid="{1E6CBB98-E481-476E-910A-E120770E3BB5}">
                <File Id="Qt5Widgets.dll" KeyPath="yes" Source="SourceDir\Qt5Widgets.dll" />
            </Component>
            <Component  Id="zlib1.dll" Directory="INSTALLDIR" Guid="{4878D4DB-95A6-4C94-B3C0-3F896DF172C0}">
                <File Id="zlib1.dll" KeyPath="yes" Source="SourceDir\zlib1.dll" />
            </Component>
            <Component  Id="default.gpl" Directory="data" Guid="{83311859-9F17-4EEF-80C0-FC1079D90B0D}">
                <File Id="default.gpl" KeyPath="yes" Source="SourceDir\data\default.gpl" />
            </Component>
            <Component  Id="help.html" Directory="data" Guid="{03719EBA-1AE6-4306-8B53-6D538F2AFA9E}">
                <File Id="help.html" KeyPath="yes" Source="SourceDir\data\help.html" />
            </Component>
            <Component  Id="dave.gif" Directory="examples" Guid="{AA3DEA7B-F595-4EAF-A185-6C9D30E33C5F}">
                <File Id="dave.gif" KeyPath="yes" Source="SourceDir\data\examples\dave.gif" />
            </Component>
            <Component  Id="mad_hedgehog.gif" Directory="examples" Guid="{622A995A-47C0-4FE4-9DDB-7CDD3ABBABA9}">
                <File Id="mad_hedgehog.gif" KeyPath="yes" Source="SourceDir\data\examples\mad_hedgehog.gif" />
            </Component>
            <Component  Id="penguin.png" Directory="examples" Guid="{FB71EA2D-6B5C-4A08-99FA-3763D6C63C87}">
                <File Id="penguin.png" KeyPath="yes" Source="SourceDir\data\examples\penguin.png" />
            </Component>
            <Component  Id="brush1.xpm" Directory="icons" Guid="{9BBBE1BC-5276-4B7C-AE06-D13EC9A98622}">
                <File Id="brush1.xpm" KeyPath="yes" Source="SourceDir\data\icons\brush1.xpm" />
            </Component>
            <Component  Id="brush2.xpm" Directory="icons" Guid="{E143FFA2-92B4-40F1-8CFE-F0C019C88845}">
                <File Id="brush2.xpm" KeyPath="yes" Source="SourceDir\data\icons\brush2.xpm" />
            </Component>
            <Component  Id="brush3.xpm" Directory="icons" Guid="{3F3B6784-CFE6-41C0-AE46-CDCCA4897455}">
                <File Id="brush3.xpm" KeyPath="yes" Source="SourceDir\data\icons\brush3.xpm" />
            </Component>
            <Component  Id="brush4.xpm" Directory="icons" Guid="{316B2F52-6F20-4906-A9E9-F303CDCB0951}">
                <File Id="brush4.xpm" KeyPath="yes" Source="SourceDir\data\icons\brush4.xpm" />
            </Component>
            <Component  Id="brushcustom.png" Directory="icons" Guid="{28ED75E2-33E2-4AAB-B676-F851B0C3266D}">
                <File Id="brushcustom.png" KeyPath="yes" Source="SourceDir\data\icons\brushcustom.png" />
            </Component>
            <Component  Id="brushpickuptool.png" Directory="icons" Guid="{7BAB9CCA-0972-46CF-8C34-0BD741595AD0}">
                <File Id="brushpickuptool.png" KeyPath="yes" Source="SourceDir\data\icons\brushpickuptool.png" />
            </Component>
            <Component  Id="circletool.png" Directory="icons" Guid="{5BC05E9C-7C21-4EF8-BE48-8D9677F94DAC}">
                <File Id="circletool.png" KeyPath="yes" Source="SourceDir\data\icons\circletool.png" />
            </Component>
            <Component  Id="cursor_crosshair.png" Directory="icons" Guid="{7B0A109C-BC50-4CE8-888E-CDE0BE33154D}">
                <File Id="cursor_crosshair.png" KeyPath="yes" Source="SourceDir\data\icons\cursor_crosshair.png" />
            </Component>
            <Component  Id="cursor_eyedropper.png" Directory="icons" Guid="{5D3750D4-210B-42AC-A59D-DB01E3E60A3D}">
                <File Id="cursor_eyedropper.png" KeyPath="yes" Source="SourceDir\data\icons\cursor_eyedropper.png" />
            </Component>
            <Component  Id="eyedroppertool.png" Directory="icons" Guid="{0024CF1C-4827-4B79-8DD2-B46DE39544F9}">
                <File Id="eyedroppertool.png" KeyPath="yes" Source="SourceDir\data\icons\eyedroppertool.png" />
            </Component>
            <Component  Id="filledcircletool.png" Directory="icons" Guid="{4813F733-4564-4C7F-A911-07019FD504E2}">
                <File Id="filledcircletool.png" KeyPath="yes" Source="SourceDir\data\icons\filledcircletool.png" />
            </Component>
            <Component  Id="filledrecttool.png" Directory="icons" Guid="{BFD9BF19-FF9E-4756-AB58-8FC2EAA04C07}">
                <File Id="filledrecttool.png" KeyPath="yes" Source="SourceDir\data\icons\filledrecttool.png" />
            </Component>
            <Component  Id="filltool.png" Directory="icons" Guid="{23F460DA-A885-4CB7-AF63-92AB392FA610}">
                <File Id="filltool.png" KeyPath="yes" Source="SourceDir\data\icons\filltool.png" />
            </Component>
            <Component  Id="linetool.png" Directory="icons" Guid="{1234CAD7-F6CA-4228-A45B-42DE0EBE9913}">
                <File Id="linetool.png" KeyPath="yes" Source="SourceDir\data\icons\linetool.png" />
            </Component>
            <Component  Id="penciltool.png" Directory="icons" Guid="{05E4D2D5-C221-4952-8486-5682E294868B}">
                <File Id="penciltool.png" KeyPath="yes" Source="SourceDir\data\icons\penciltool.png" />
            </Component>
            <Component  Id="recttool.png" Directory="icons" Guid="{941555DC-BCCA-4FCF-893C-557290615A66}">
                <File Id="recttool.png" KeyPath="yes" Source="SourceDir\data\icons\recttool.png" />
            </Component>
            <Component  Id="qsvgicon.dll" Directory="iconengines" Guid="{370CE1E5-AA1D-45F2-B756-8EE3B372BC51}">
                <File Id="qsvgicon.dll" KeyPath="yes" Source="SourceDir\iconengines\qsvgicon.dll" />
            </Component>
            <Component  Id="qdds.dll" Directory="imageformats" Guid="{75E1030E-E9AA-4839-A8D5-414F4D30BC4D}">
                <File Id="qdds.dll" KeyPath="yes" Source="SourceDir\imageformats\qdds.dll" />
            </Component>
            <Component  Id="qgif.dll" Directory="imageformats" Guid="{2D89BA7F-10B8-4E52-84A9-9D3703D5232A}">
                <File Id="qgif.dll" KeyPath="yes" Source="SourceDir\imageformats\qgif.dll" />
            </Component>
            <Component  Id="qicns.dll" Directory="imageformats" Guid="{C598F362-4D4A-409D-A6D5-12D520C47F84}">
                <File Id="qicns.dll" KeyPath="yes" Source="SourceDir\imageformats\qicns.dll" />
            </Component>
            <Component  Id="qico.dll" Directory="imageformats" Guid="{069E7509-EC17-4667-AE17-81E799ADE7B5}">
                <File Id="qico.dll" KeyPath="yes" Source="SourceDir\imageformats\qico.dll" />
            </Component>
            <Component  Id="qjp2.dll" Directory="imageformats" Guid="{4187135B-2C10-42ED-AAE2-B9A6025040C6}">
                <File Id="qjp2.dll" KeyPath="yes" Source="SourceDir\imageformats\qjp2.dll" />
            </Component>
            <Component  Id="qjpeg.dll" Directory="imageformats" Guid="{9F977C00-91AA-4BC8-8276-F46A8CB9753C}">
                <File Id="qjpeg.dll" KeyPath="yes" Source="SourceDir\imageformats\qjpeg.dll" />
            </Component>
            <Component  Id="qmng.dll" Directory="imageformats" Guid="{18CB6F2D-FABE-468E-8366-A141A2FEEADB}">
                <File Id="qmng.dll" KeyPath="yes" Source="SourceDir\imageformats\qmng.dll" />
            </Component>
            <Component  Id="qsvg.dll" Directory="imageformats" Guid="{20C1E7A6-327C-4AC5-9834-5B483A8C7A56}">
                <File Id="qsvg.dll" KeyPath="yes" Source="SourceDir\imageformats\qsvg.dll" />
            </Component>
            <Component  Id="qtga.dll" Directory="imageformats" Guid="{6E8B356E-5CF8-4AC3-9F6C-0CB518883BF0}">
                <File Id="qtga.dll" KeyPath="yes" Source="SourceDir\imageformats\qtga.dll" />
            </Component>
            <Component  Id="qtiff.dll" Directory="imageformats" Guid="{AB1D8580-FEDE-44FF-BAA8-2E8567B9F878}">
                <File Id="qtiff.dll" KeyPath="yes" Source="SourceDir\imageformats\qtiff.dll" />
            </Component>
            <Component  Id="qwbmp.dll" Directory="imageformats" Guid="{952200CE-D709-4920-923B-995BFECE6499}">
                <File Id="qwbmp.dll" KeyPath="yes" Source="SourceDir\imageformats\qwbmp.dll" />
            </Component>
            <Component  Id="qwebp.dll" Directory="imageformats" Guid="{8220B984-BF7E-4B75-A14D-913197C16CE0}">
                <File Id="qwebp.dll" KeyPath="yes" Source="SourceDir\imageformats\qwebp.dll" />
            </Component>
            <Component  Id="qwindows.dll" Directory="platforms" Guid="{6C032F42-24D9-4901-9D1C-A4BA26A0E638}">
                <File Id="qwindows.dll" KeyPath="yes" Source="SourceDir\platforms\qwindows.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="data">
            <Directory Id="examples" Name="examples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="data">
            <Directory Id="icons" Name="icons" />
        </DirectoryRef>
    </Fragment>
</Wix>
